.root {
	-fx-font-family: "Open Sans", sans-serif;
	-fx-font-size: 18px;
	-fx-background: #fefefe;
	-fx-text-fill: #555555;
	-fx-focus-color: #eeeeee;
}

.p {
    -fx-font-family: "Open Sans", sans-serif;
	-fx-font-size: 1em;	
	-fx-text-fill: #666666;
}


.h2 {
	-fx-font-family: "Raleway";
	-fx-font-weight: 300;
	-fx-font-size: 24px;
	-fx-padding: 10px 0px 20px 0px;	
	-fx-text-fill: #666666;
}

.h1 {
	-fx-font-family: "Raleway";
	-fx-font-weight: 500;
	-fx-font-size: 32px;
	-fx-padding: 40px 0px 0px 0px;	
	-fx-text-fill: #444444;
}

.small {	
	-fx-font-size: 0.9em;
}

.footer {	
	-fx-font-family: "Raleway";
	-fx-background-color: #fafafa;
	-fx-padding: 10px 0px 10px 0px;
	-fx-border-style: dotted;
	-fx-border-width: 2px 0px 0px 0px;
	-fx-border-color: #111111;
}

.footer .p {
	-fx-font-weight: 300;	
	-fx-padding: 0px 100px 0px 100px;
	-fx-text-fill: #333333;
}

.stat {
	-fx-border-width: 0px 1px 0px 0px;
	-fx-padding: 0px 110px 0px 0px;
	-fx-border-color: #111111;
}

.grid-cell {
	-fx-fill: #ffffff;
	
}

.grid-val {
	-fx-font-size: 14px;	
	-fx-text-fill: #ffffff;
}

.button {
	-fx-font-weight: 700;
	-fx-border-width: 2px;
	-fx-border-insets: 5px;
	-fx-border-radius: 2px;
	-fx-border-color: #55686a;	
	-fx-padding: 15px 25px;		
	-fx-background-color: #ffffff;	
	-fx-text-fill: #55686a;
}

.button:pressed {
	-fx-border-color: transparent;
}

.ul {	
	-fx-border-color: #444444;
	-fx-background-color: #ffffff;
}

#menu-bar {	
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: #111111;
	-fx-background-color: #ffffff;
}

.menu:hover {	
	-fx-background-color: #444444;
	-fx-text-fill: #eeeeee;
}

.menu:pressed, .menu:active {	
	-fx-background-color: #444444;
	-fx-text-fill: #eeeeee;
}

.menu-item:hover {	
	-fx-background-color: #444444;	
	-fx-text-fill: #eeeeee;
}

.menu-item:pressed {	
	-fx-background-color: #000000;	
	-fx-text-fill: #ffffff;
}